/* .visibility {
  display: ;
} */

p {
  background-color: yellow;
  border: 4px solid blue;
  font-size: 30px;
}

ul li {
  text-decoration: none;
  background-color: lightgray;
  font-size: 20px;
  width: 200px;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightgreen;
}

div h2 {
    color: brown;
    background-color: cornsilk;
    border: 5px solid blue;
    text-align: center;
}

form input[type=text] {
    background-color: yellow;
    width: 200px;
}

form label[id=title1] {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.setName{
    border: 5px dashed darkblue;
    width: 500px;
}
